
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
    <title></title>

    <link href="~/Content/all.css"  rel="stylesheet" type="text/css">
    <link href="~/Scripts/bstable/css/bootstrap.min.css"  rel="stylesheet" type="text/css">
    <link href="~/Scripts/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css">

</head>
<body>

    <div class="div_find">
        <p>
            <label class="find_labela">用户名：</label><input type="text" id="txtUser" class="find_input">
            <label class="find_labela">电话：</label><input type="text" id="txtMobile" class="find_input">
            <label class="find_labela">是否有效：</label><select class="find_input" id="slExist">
                <option value="2">全部</option>
                <option value="0">有效</option>
                <option value="1">无效</option>
            </select>
            <input type="button" value="搜索一下" class="find_but" id="but_open"><input type="button" value="重置" class="find_but" id="but_close02">
        </p>
    </div>
    <p class="p_but">

        <i class="down_i"></i><a href="#" class="add_a">导出</a>
        <i class="print_i"></i><a href="#" class="add_a">打印</a>
        <span style="float:right"><i class="add_i"></i><a href="javascript:openlayer(0)" class="add_a">新建用户</a></span>
    </p>
    <p>
        <table id="table" class="table_style" style="margin: 0 auto"></table>
    </p>

    <script src="~/Scripts/jquery/jQuery-2.2.0.min.js"></script>
    <script src="~/Scripts/bstable/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bstable/js/bootstrap-table.js"></script>
    <script src="~/Scripts/bstable/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Scripts/date/js/laydate.js"></script>
    <script src="@Url.Content("~/Scripts/index.js")"></script>

    <script type="text/javascript">
        function datas() {
            $('#table').bootstrapTable({
                method: "post",
                striped: true,
                singleSelect: false,
                url: "PageData",
                dataType: "json",
                pagination: true, //分页
                sidePagination: "server",
                pageSize: 10,
                pageNumber: 1,
                search: false, //显示搜索框
                contentType: "application/x-www-form-urlencoded",
                queryParams: function (params) {
                    //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    var temp = {
                        pageSize: params.limit,                         //页面大小
                        pageNumber: (params.offset / params.limit) + 1,   //页码
                        sort: "UserID",      //排序列名
                        sortOrder: "asc", //排位命令（desc，asc）
                        userName: $("#txtUser").val(),
                        mobile: $("#txtMobile").val(),
                        slExist: $("#slExist").val()
                    };
                    return temp;
                },
                columns: [
                    {
                        checkbox: "true",
                        field: 'check',
                        align: 'center',
                        valign: 'middle'
                    }
                    ,
                    {
                        title: "id",
                        field: 'UserID',
                        align: 'center',
                        valign: 'middle',
                        visible: false
                    },
                    {
                        title: '用户名',
                        field: 'UserName',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '电话',
                        field: 'Mobile',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '邮箱',
                        field: 'Email',
                        align: 'center'
                    },
                    {
                        title: '创建时间',
                        field: 'CreateTime',
                        align: 'center'
                    },
                    {
                        title: '是否有效',
                        field: 'IsExist',
                        align: 'center',
                        formatter: function (cellval, row) {
                            //var cellval=$("#station").val();
                            if (cellval == 0) {
                                return '<div  style="color:red">有效</div>';
                            } else if (cellval == 1) {
                                return '<div  style="color:green">无效</div>';
                            } else {
                                return cellval;
                            }
                        }
                    },
                    {
                        title: '操作',
                        field: 'opear',
                        align: 'center',
                        formatter: function (value, row) {
                            var e = '<a class="menuItem"  href="javascript:openlayer(' + row.UserID + ')" title="查看详情">编辑</a> ';


                            return e;
                        }
                    }
                ],
                onPostBody: function () {
                    
                }
            });
        }
        $(function () {
            datas();
            $("#but_open").click(function () {
                var opt = {
                    url: "PageData",
                    silent: true,
                    pageSize: 10,                         //页面大小
                    pageNumber: 1,   //页码
                    sort: "UserID",      //排序列名
                    sortOrder: "asc", //排位命令（desc，asc）
                    userName: $("#txtUser").val(),
                    mobile: $("#txtMobile").val(),
                    slExist: $("#slExist").val()
                };

                $("#table").bootstrapTable('refresh', opt);
            });
            $("#but_close02").click(function () {
                $("#txtUser").val('');
                $("#txtMobile").val('');
                $("#slExist").val('2');
            })
        })

    </script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script>
        function openlayer(id) {
            layer.open({
                type: 2,
                title: id==0?'添加信息':'修改信息',
                shade: 0.5,
                skin: 'layui-layer-rim',
                area: ['80%', '80%'],
                content: '/User/Edit'+ id,
                cancel: function (index, layero) {
                    if (confirm('确定要关闭么')) { //只有当点击confirm框的确定时，该层才会关闭
                        layer.close(index)
                    }
                    return false;
                }    
            });
        }
    </script>


</body>
</html>
